{% load static %}
<!DOCTYPE html>

<head xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'company/css/company.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>{{title}}</title>
</head>
<body>
{% block mainmenu %}

<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: white;">
            <a class="navbar-brand"><img src="{% static 'company/images/logo.png' %}" alt="Logo" width="150" height="50">
            </a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
             aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav justify-content-center">
                    {% for m in menu %}
                    <li class="nav-item"><a class="nav-link" href="{% url m.url_name %}">{{m.title}}</a></li>
                    {% endfor %}
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">{{user.username}}</li> | <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">
                    Выйти</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Регистрация</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Войти</a></li>
                    {% endif %}
                </ul>
             </div>
        </nav>
    </div>
</header>

{% endblock mainmenu %}
<main>
{% block content %}
{% endblock %}
</main>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <ul class="pagination justify-content-center pagination-sm">
            {% if page_obj.has_other_pages %}
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
            {% endif %}
            {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
            <li class="page-item active"><a class="page-link">{{p}}</a></li>
            {% elif p >= page_obj.number|add:-1 and p <= page_obj.number|add:1 %}
            <li class="page-item"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}"> Next </a></li>
            {% endif %}
            {% endif %}
        </ul>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>