{% extends 'company/base.html' %}
{% load company_tags %}
{% block content %}
<div class="features">
    <h1>{{title}}</h1>
    {% for company in companies %}
        {% if company.photo %}
            <p><img class="img-thumbnail" src="{{company.photo.url}}" width="250"></p>
        {% endif %}
            <h2>{{company.title}}</h2>
    {% autoescape on %}
    {{company.content|linebreaks|truncatewords:10}}
    {% endautoescape %}

    <p><a href="{{ company.get_absolute_url }}" class="btn btn-info btn-sm" role="button">Подробнее</a></p>
    {% endfor %}
</div>
{% endblock %}

