{% extends 'company/base.html' %}

{% block content %}
<div class="features">
<h1>{{title}}</h1>
<div class="container">
      <form role="form" method="post" class="form-horizontal">
            <div class="form-group">
                  {% csrf_token %}
                  {% for f in form %}
<p><label for="{{ f.id_for_label }}" class="control-label col-md-2" >{{f.label}}: </label>{{f}}</p>
<div class="text-warning">{{ f.errors }}</div>
{% endfor %}

      <button class='btn btn-success'>Регистрация</button>
      </div>
</form>
      </div>
</div>
{% endblock %}
